*.jar
*.zip
*.dat

/.mixin.out
/crash-reports
/logs
/mods
/resourcepacks
/saves
/screenshots
/local

minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json
.curseclient
.qmenu_opened.marker